body {
  background-color: #F7F3E9;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 2.5%;
}
h1 {
  color: #FF8303;
}
h3 {
  color: #FFB037;
}
h3 {
  color: #FFB037;
}
h3 {
  color: #FFB037;
}
.naruto {
  border-radius: 100%;
}
